doctype html
html(lang='en')

  include layouts/head/_

  body
    
    main.wrapper

      include partials/_navigation
      include partials/_header
      include partials/_about
      include partials/_testimonials
      include partials/_share
      include partials/_footer

    include layouts/_scripts
