link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='vendor/normalize.css/normalize.css')
link(rel='stylesheet', href='vendor/milligram/dist/milligram.min.css')
link(rel='stylesheet', href='styles/main.min.css')
