section#about.container

  h2.title
    | what is 
    strong blau
    | ?
  
  p
    | blau is a game where your goal is the simplest possible one: get to the end of each level. How? By guiding blau - actually, an abstract black circle - through many simple - yet elegant - puzzles, avoiding physics-based traps and collecting shapes.
  
  p
    strong
      | It all starts with a gesture, then evolves with physics, but the end is up to you.
  
  #player
