footer.footer

  section.container
    
    p
      | Designed & Developed with 💓 & ☕ by some folks from 
      a(target='blank', href='https://github.com/xablauger-studios', title='Xablauger Studios') Xablauger Studios
      |  team.