header#home.header

  section.container
    
    #particles

      include _logo
          
      p.description
        | It all starts with a gesture, then evolves with physics, but the end is up to you.

      a(target='blank', href=`https://itunes.apple.com/app/blau/id${about.appleItunesAppID}`)
        img.img(src='images/app_store.svg', width='150', alt='Download on the App Store', title='Download on the App Store')

      canvas.particles-js-canvas-el()