// # module: color
//
// TODO: Document, refactor.

// Lightest Ones:

$white = white
$light_gray = whitesmoke

// Darkest Ones:

$black = black
$dark_gray = #1d1d1d

// Palette:

$color-initial = white
$color-primary = $white
$color-secondary = $black
$color-tertiary = $light_gray
$color-quaternary = $dark_gray