// # module: player
//
// TODO: Document, refactor.

#player
  display: inline-block
  width: 25rem
  height: 13.31rem
  padding: 0.5rem
  
  +tablet()
    width: 53rem
    height: 30rem
    
  +desktop()
    width: 80rem
    height: 45rem
    
  +hd()
    width: 120rem
    height: 67.5rem    