// # module: player
//
// TODO: Document, refactor.

#player
  display: inline-block
  width: 35rem
  height: 20rem
  padding: 0.5rem
  
  +between(64rem, 80rem)
    width: 53rem
    height: 30rem
    
  +above(80rem)
    width: 80rem
    height: 45rem