// # module: color
//
// TODO: Document, refactor.

.wrapper
  display: block
  overflow: hidden
  position: relative
  width: 100%
  font-family: 'Quicksand', sans-serif;
  
  .container
    max-width: 80rem
    text-align: center
  & > .container
    padding-bottom: 7.5rem
    padding-top: 7.5rem
  
  a
    color: $color-secondary
    &:hover
      color: $color-tertiary